.board_header{
	width: 679px;
    height: 50px;
    position: relative;
    margin-top: 100;   
}
.board_all{
	position: relative;
	float: left;
	font-size: 15px;
}
.board_write{
	position: relative;
    float: right;
    width: 78px;
    height: 21px;
    top: 26px;
    left: -3px;
}
.board_wrap{
	position: relative;
    width: inherit; 
}
.board_center{
	width: 677px;
    position: relative;
}
.board_top{
	border-top-style: groove;
    border-top-width: 7px;
    text-align: center;
    width: 675px;
    height: 33px;
    border-bottom-style: groove;
    border-bottom-width: 2px;
}
.p1{
	position: relative;
    float: left;
	width: 74px;
	margin: 5px 0px;
}
.p2{
	position: relative;
    float: left;
    width: 287px;
    margin: 5px 0px;
}
.p3{
	position: relative;
    float: left;
    width: 42px;
    margin: 5px 0px;
}
.p4{
	position: relative;
    float: left;
    width: 141px;
    margin: 5px 0px;
}
.p5{
	position: relative;
    float: left;
    margin: 5px 0px;
}
.p6{
	position: relative;
    margin: 5px 0px;
}
.board_content{
	width: inherit;
    position: relative;
    border-bottom-style: groove;
}
.show{
	position: relative;
    width: inherit;
    text-align: center;
    height: 16px;
    margin-bottom: 13px;
}
.board_bottom{
	position: relative;
    width: 677px;
    height: 80px;
    background: gainsboro;
}
.bottom1{
	position: relative;
	width: inherit;
	height: 50%;
	border-bottom-style: groove;
}
.bottom2{
	position: relative;
    width: inherit;
    height: 50%;
}
.pagenum{
	height: 25px;
    position: relative;
    left: 26px;
    top: 5px;
    text-align: center;
}
.left{
	position: relative;
    width: 57px;
    height: 25px;
    float: left;
}
.num{
	position: relative;
    float: left;
    margin: 0 20;
}
.right{
	position: relative;
    width: 57px;
    height: 25px;
    float: left;
}
.search{
	position: relative;
    float: right;
    width: 262px;
    height: 22px;
    top: 7px;
    left: -12px;
    z-index: 999;
}
.searchform_option{
	width: 62px;
    height: inherit;
    position: relative;
    float: left;
}
.searchform_text{
	position: relative;
    float: left;
    width: 98px;
    height: inherit;
    margin: 0 7px;
}
.searchform_btn{
	cursor: pointer;
    width: 45px;
    height: 18px;
    position: relative;
    float: right;
    top: 3px;
}
.board_content a{
	cursor: pointer;
}

#commentlist{
	width: 700;
	position: relative;
	top: 50;
}
.commentform{	
    border-bottom-style: groove;
}
.comment_content{
	border-bottom-style: groove;
	border-bottom-width: 1;
}
.commentinput{
	position: relative;
    top: 60;
}
.comment_info{
    font-size: 10px;
    height: 30px;
}
.comment_info b{
	text-align: center;
    font-size: 23px;
    position: relative;
    top: 15px;
    left: 10px;
}
.commentnum{
	position: relative;
    margin: 30px 0px;
    font-size: 20px;
    font-family: fantasy;
}
.comment_read{
	
}
.comen_p{
	position: relative;
    font-size: 15px;
    margin: 30px 0;
    left: 6px;
    border-top-style: ridge;
    background: #eeeeee;
    border-bottom-style: ridge;
}
.comen_d{
	position: relative;
    font-size: 10px;
}
.textarea{
	width: 627px;
    height: 78px;
    max
}
.p_button{
	width: 69px;
    height: 79px;
    cursor: pointer;
}
.b_content{
	
}
.b_content_b{
	
}