.content_top{
    width: 800px;
    height: 191px;
}
.FAQ_banner{
	width: 800px;
	height: 191px;
}
.cus1{
	font-size: 28px;
}
.cus2{
	
}
.top3{
    height: 40px;
    width: 796px;
    position: relative;
    float: left;
    border: #E7E7E7 solid 2px;
}
.top3_img{
	height: 40px;
    width: 150px;
    position: relative;
    float: left;
    margin-left: 15;
    margin-top: 9;
}
.top3_option{
	position: relative;
    margin-top: 10;
    margin-left: 150;
}

.top3_text {
	position: relative;
    float: left;
    width: 450px;
    bottom: 20;
    left: 77;
    border: black inset 1px;

}
.top3_btn{
    position: relative;
    float: right;
    height: 30px;
    width: 63px;
    margin-right: 20;
    margin-top: 5;
    cursor : pointer;
    z-index: 1;
}
.content_center{
	width: 800px;
	
    position: relative;
    overflow: auto;

}
.faqTable_tr{
	height: 50px;
    background-color: #F6F6F6;
}
.faqTable_tr:HOVER{	
    background-color: white;
}
.faqTable_trInfo{
	height: auto;	
	background-color: #F6F6F6;
}
.tableList{
	margin-left: 50%;
    float: left;	
}
a:HOVER {
	background: #1294AB;
	color: #D4F4FA;
}
td{
	
}

