.vt_passwordForm_Frame {
	margin: auto;
	position: relative;	
	z-index: 0;
	
}

.vt_passwordForm_bottom_line {
    width: inherit;
    border-top-style: groove;
    -webkit-filter: blur(3px);
}

.vt_passwordForm_button {
	background-color: #EAEAEA;
	width:100px;
}
.input {
	width : 285px;
}

.vt_passwordForm_table {
    font-family: 'Exo', sans-serif;
    width: 400px;
    height: 130px;
    border-style: solid;
    margin: auto;
    border-top-color: #EAEAEA;
    border-left-color: #EAEAEA;
    border-right-color: #B7AFA3;
    border-bottom-color: #B7AFA3;
    border-radius: 5px;
    font-size: 13px;
}

.vt_passwordForm_top_line {
    width: inherit;
    border-bottom-style: groove;
  	 margin-top: 75;
    -webkit-filter: blur(3px);
}

.vt_passwordForm_table  tr {
	border-top: 1px solid #F6F6F6;
}

.vt_passwordForm_table th {
	background-color:#F6F6F6;
	font-weight: normal;
}

.vt_passwordForm_table input{
	background-color:#ffffff;
}





