.history_img1{
	position: relative;
    right: 102px;
    top: 29px;
    width: 1008px;
}
.vt_history1{
border-bottom-style: groove;
    width: 156px;
    font-size: 35px;
    position: relative;
    font-weight: bold;
    left: 360px;
}