.info_Infowarp {
 	width: inherit;
    height: 2000;	
}

/* 센터 정보 */
.info_Infotit {
    width: 550;
    height: 100;
    margin: 20 0;
    text-align: left;
}

.wire {
	height : 2;
	background-color: black;
	margin:20 0;
}


/* 이미지 슬라이드 */
#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    width:700px;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider .sliderInner {
    width:700px;height:306px;/* Must be the same size as the slider images */
    border-radius:3px;
}

#slider {
    background-color: white;
    position: relative;
    margin: 20px auto;
    transform: translate3d(0,0,0);
    box-shadow: 8px 5px 18px #020202;
    right: -203px;
    width: 739px;
    height: 490px;
    margin-left: -185px;
}
/* 이미지 슬라이드 끝 */

/* 나머지 영역*/
.info_Infoframe {
    margin-top: 100;
    width: 900;
    height: 500px;
   
}
.embl {
    width: 800;
    height: 230px;
    
}
.vt {
    width: 210px;
    height: 235px;
    position: relative;
    float: left;
}



/* 문자열 */
.num {
	font-size: 30;
	font-weight: bold;
	margin-bottom: 12;
}
.tit {
	font-size: 18;
	
}
.desc {
	font-size:25;
	margin-bottom: 32;
}
.context {
	font-size: 15;
}
.name {
	font-size: 50;
}

/* 문자열 끝 */




