.info_Infowarp {
 	width: inherit;
    height: 2273px;

}

/* 센터 정보 */
.info_Infotit {
    width: 550;
    height: 49px;
    margin: 30px 0;
    text-align: left;
}




/* 이미지 슬라이드 */
#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    width:700px;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider .sliderInner {
    width:700px;height:306px;/* Must be the same size as the slider images */
    border-radius:3px;
}

#slider {
    background-color: white;
    position: relative;
    margin: 20px auto;
    transform: translate3d(0,0,0);
    box-shadow: 8px 5px 18px #020202;
    right: -232px;
    width: 900;
    height: 600px;
    margin-left: -234px;
    bottom: 182px;
}
/* 이미지 슬라이드 끝 */

/* 나머지 영역*/
.info_Infoframe {
    margin-top: 100;
    width: 900;
    height: 500px;
   
}
.embl {
    width: 800;
    height: 230px;
    
}
.vt {
    width: 210px;
    height: 235px;
    position: relative;
    float: left;
}



/* 문자열 */
.num {
	font-size: 30;
	font-weight: bold;
	margin-bottom: 12;
}
.tit {
	font-size: 30;
    border-bottom-style: groove;
    position: relative;
  	left: 418px;
	
}
.desc {
	font-size:25;
	margin-bottom: 32;
}
.context {
	font-size: 15;
}
.name {
	font-size: 50;
}

/* 문자열 끝 */

.floor{
	font-size: 26px;
	color: brown;
	
}

.first{
	font-size: 30;
    font-weight: bold;
    color: firebrick;
    top: 20;
    position: relative;
	
}
.firstinfo{
font-size: 15;
font-weight: bold;
color: dimgrey;
top: 22;
 position: relative;
}
.find{
	font-size: 37;
    font-weight: bold;
    position: relative;
    left: 362px;
    bottom: 112px;
    color: darkred;
    width: 847px;
}
.find1{
	position: relative;
    left: 600;
    font-size: 16px;
   color: dimgrey;
    font-weight: bold;
}
.find2{
	font-size: 15px;
    position: relative;
    left: 95px;
    top: 28px;
    font-weight: bold;
	
	
}
.find3{
	font-size: 15;
    font-weight: bold;
    position: relative;
    left: 95px;
    top: 20;
	
}

.traffic{
position: relative;
top: 497px;
}
.traffic1{
	position: relative;
    top: 100;
}
	
}
.park{
    position: relative;
    top: 120;
    left: -5px;
}
.park1{
	
}


