/* css초기화 */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:"Malgun Gothic",'돋움',dotum,sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
/* css초기화 끝 */
.background{

   position: absolute;
    width: 1434px;
    height: 496px;
    float: left;
    background-color: white;
    left: 0px;
	
}
.centerContentframe {
    max-width: 1130px;
    margin: 0 auto;
    z-index: -1;
}

.centerContent_mainframe {
 height: 800px;
 width: 1131px;
 
}

.centerContent_empty_space{
	height: 79px;
}
/*프로그램 아이콘*/
.centerContent_program{
	position: relative;
    height: 202px;
    width: 1395px;
    background:white;
    left: -132px;
    

}
.centerContent_vt_program1{
	position: relative;
    left: 417px;
    font-size: 29px;
    top: 23px;
    font-weight: bold;
}


.centerContent_icon1{
background-color:#EAEAEA;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: 8px;
    left: 107px;	
    float: left;
    margin: 0 20px;
    opacity: 0.4;
}
.centerContent_icon1sub{
	position: relative;
    top: 158px;
    font-size: 20;
    left: -13px;
}
.centerContent_icon2{
	background-color: #EAEAEA;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -22px;
    left: 133px;
    float: left;
    margin: 0 20px;
    opacity: 0.4;
}
.centerContent_icon2sub{
	position: relative;
    top: 128px;
    font-size: 20px;
    left: 12px;
}
.centerContent_icon3{
	background-color:#EAEAEA;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -52px;
    left: 153px;
    float: left;
    margin: 0 20px;
    opacity: 0.4;
}
.centerContent_icon3sub{
	position: relative;
    top: 98px;
    font-size: 20px;
    left: 58px;
}
.centerContent_icon4{
	background-color: #EAEAEA;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -83px;
    left: 171px;
    float: left;
    margin: 0 20px;
    opacity: 0.4;
}
.centerContent_icon4sub{
	position: relative;
    top: 68px;
    font-size: 20px;
    left: 63px;
}
.centerContent_empty_space{
	height: 79px;
}
/*프로그램 아이콘*/
.centerContent_program{
	position: relative;
    height: 202px;
    width: 1395px;
    background:white;
    left: -132px;
    

}
.centerContent_vt_program1{
	position: relative;
    left: 417px;
    font-size: 29px;
    top: 23px;
    font-weight: bold;
}


.centerContent_icon1{
background-color:#EAEAEA;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: 8px;
    left: 107px;	
    float: left;
    margin: 0 20px;
    opacity: 0.4;
}
.centerContent_icon1sub{
	position: relative;
    top: 158px;
    font-size: 20;
    left: -13px;
}
.centerContent_icon2{
	background-color: #EAEAEA;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -22px;
    left: 133px;
    float: left;
    margin: 0 20px;
    opacity: 0.4;
}
.centerContent_icon2sub{
	position: relative;
    top: 128px;
    font-size: 20px;
    left: 12px;
}
.centerContent_icon3{
	background-color:#EAEAEA;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -52px;
    left: 153px;
    float: left;
    margin: 0 20px;
    opacity: 0.4;
}
.centerContent_icon3sub{
	position: relative;
    top: 98px;
    font-size: 20px;
    left: 58px;
}
.centerContent_icon4{
   background-color: black;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -83px;
    left: 171px;
    float: left;
    margin: 0 20px;
}
.centerContent_icon4sub{
   position: relative;
    top: 68px;
    font-size: 20px;
    left: 63px;
}
.centerContent_icon5{
	background-color:#EAEAEA;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    top: -113px;
    left: 188px;
    float: left;
    margin: 0 20px;
    opacity: 0.4;
}
.centerContent_icon5sub{
	position: relative;
    top: 38px;
    font-size: 20px;
    left: 72px;
}
.centerContent_icon6{
	background-color: #EAEAEA;
    height: 132px;
    width: 132px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
   top: -143px;
    left: 206px;
    float: left;	
    margin: 0 20px;
    opacity: 0.4;
}
.centerContent_icon6sub{
	position: relative;
    top: 7px;
    font-size: 20px;
    left: 109px;
}
/*이미지 슬라이드 영역*/



#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
#sliderFrame 
{
    width:676px;
    margin:0 auto; /*center-aligned*/
}

#slider, #slider .sliderInner {
    width:700px;height:306px;/* Must be the same size as the slider images */
    border-radius:3px;
}

#slider {
    background-color: white;
    position: relative;
    margin: 0 auto;
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
    right: -30;
    width: 1435px;s
    height: 495px;
    margin-left: -405px;
}

/* the link style (if an image is wrapped by a link) */
#slider a.imgLink, #slider .video {
    z-index:2;
    cursor:pointer;
    position:absolute;
    top:0px;left:0px;border:0;padding:0;margin:0;
    width:100%;height:100%;
}
#slider .video {
    background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider .mc-caption {
    position:absolute;
    width:100%;
    height:auto;
    padding:10px 0;/* 10px will increase the height.*/
    left:0px;
    bottom:0px;top:auto;
    overflow:hidden;
    font: bold 14px/20px Arial;
    color:#EEE;
    text-align:center;
    background:rgba(0,0,0,0.3);
}
#slider .mc-caption a {
    color:#FB0;
}
#slider .mc-caption a:hover {
    color:#DA0;
}


/* ------ built-in navigation bullets wrapper ------*/
#slider .navBulletsWrapper {
    top: 320px;
    text-align: center;
    background: none;
    position: absolute;
    z-index: 3;
    width: 150;
    margin-left: 633px;
    margin-top: 146px;
}

/* each bullet */
#slider .navBulletsWrapper div 
{
    width:11px; height:11px;
    font-size:0;color:White;/*hide the index number in the bullet element*/
    background:transparent url(/TOP/vtFrame/images/centerSlidedot.png) no-repeat 0 0;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 6px;/* set distance between each bullet*/
}

#slider .navBulletsWrapper .active {background-position:0 -11px;}


/* --------- Others ------- */

#slider img, #slider>b, #slider a>b {
    position:absolute; border:none; display:none;
}

#slider .sliderInner {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

#slider>a, #slider video, #slider audio {display:none;}
#slider div {-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
/*이미지 슬라이드 영역 끝*/


/*게시판*/
.center_board{
	position: relative;
    width: 1344px;
    height: 543px;
    float: left;
    left: -96px;
    top: -36px;
}
.center_board1{
	position: relative;
    width: 413px;
    height: 300;
    float: left;
    background-color: firebrick;
}
.center_board2{
	position: relative;
    width: 413px;
    height: 270px;
    left: 413px;
    background: antiquewhite;
}
.center_board3{
	position: relative;
    width: 413px;
    height: 237px;
    left: 413px;
    background: burlywood;
}
.center_board4{
	position: relative;
    width: 413px;
    height: 207px;
    left: 0px;
    background: currentColor;
    top: -207px;
	
}
.center_board5{
	position: relative;
    width: 501px;
    height: 507px;
    left: 826px;
    background: currentColor;
    top: -714px;
	

}
