/* css초기화 */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:"Malgun Gothic",'돋움',dotum,sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:underline}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
/* css초기화 끝 */
.centerContentframe {
    max-width: 1422px;
    margin: 0 auto;
    z-index: -1;
}
.content_wrap{
	margin: 50px 0px;
}
.content1{
	width: 1400px;
	height: 600px;
}
.content2{
	width: 1382px;
    height: 300px;
    background: red;
    position: relative;
    top: 23px;
    left: 15px;
    border-style: ridge;
}
.news{
	position: relative;
    width: 500px;
    height: 350px;
    left: 20px;
    float: left;
}
.news1{
	width: inherit;
    height: 15%;
    text-align: center;
    border-style: ridge;
    border-bottom-width: 3px;
}
.news1p{
    font-family: fantasy;
    font-size: 20px;
    top: 13px;
    position: relative;
    -webkit-filter: blur(0.5px);
}
.news1a{
	width: 5px;
	height: 5px;
	position: relative;
	float: left;
	background: black;
}
.news1b{
	width: 5px;
	height: 5px;
	position: relative;
	float: right;
	background: black;
	left:5px;
}
.news2{
	width: inherit;
    height: 507px;
    border-style: ridge;
    border-top-color: white;
}

.trinfo{
    position: relative;
    width: 800px;
    height: 600px;
    float: right;
    right: 26px;
}
.news1{
	width: inherit;
    height: 15%;
    text-align: center;
    border-style: ridge;
    border-bottom-width: 3px;
}
.tr1{
	width: 373px;
    height: 299px;
    position: relative;
    float: left;
}
.tr1top{
	width: inherit;
	height: 15%;
	text-align: center;
}
.tr1p{
    font-family: fantasy;
    font-size: 20px;
    top: 10px;
    position: relative;
    -webkit-filter: blur(0.5px);
}
.tr1center{
	width: inherit;
	height: 85%;
}
.tr1center figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tr1center figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.tr2{
	width: 386px;
    height: 299px;
    position: relative;
    float: right;
}
.tr2top{
	width: inherit;
	height: 15%;
	text-align: center;
}
.tr2p{
    font-family: fantasy;
    font-size: 20px;
    top: 10px;
    position: relative;
    -webkit-filter: blur(0.5px);
}
.tr2center{
	width: inherit;
	height: 85%;
}
.tr2center figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tr2center figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tr2center figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.trbottom{
    width: 795px;
    height: 205px;
    position: relative;
    bottom: 210px;
    left: 5px;
}
.good{
    height: 234px;
    width: 502px;
    position: relative;
    top: 371px;
    border-style: ridge;
    left: 19px;
}
.good_img{
	position: relative;
    top: -347px;
}

.center{
	width: 100%;
}
.inputimg{
	position: relative;
	top:-5px;
}







