.vt_inputForm_top{
	
}
.vt_inputForm_top_sub1 {
    height: 70;
    width: 800;
    border-bottom-color: #fafafa;
    border-bottom-style: groove;
}
.vt_inputForm_info {
    position: absolute;
    font-size: 25;
    padding: 20;
}
.vt_inputForm_path {
    width: 170;
    position: absolute;
    margin-left: 630;
    margin-top: 50;
}

.vt_inputForm_Frame{
	margin: auto;
	position: relative;	
	z-index: 0;
}
.vt_inputForm_top_sub2 {
    height: 75;
    width: 800;
    border-bottom-color: #c0c0c0;
    border-bottom-style: groove;
}
.vt_inputForm_hello {
    width: 620;
    position: absolute;
    margin-top: 15;
}
.vt_inputForm_hello_path {
    position: absolute;
    margin-top: 50;
    margin-left: 660;
    width: 150;
}

.vt_inputForm_body{
	margin:auto;
    width: 50%;
	margin: auto;
	position: relative;
	height: inherit;
	z-index: 1;
}

.vt_inputForm_table{
	font-family:'Exo', sans-serif;;
	width: 800px;
	height: 700px;
	z-index: 2;
}

.vt_inputForm_table tr{
	border-top: 1px solid #F6F6F6;
}

.vt_inputForm_table th{
	background-color:#F6F6F6;
	font-weight: normal;
}
.vt_inputForm_table input{
	background-color:#F6F6F6;
}

.inputbutton_okno{
	background-color: #EAEAEA;
	width:100px;
}
.inputbutton{
	width: 80px;
}
.right{
	position: absolute;	
	top: -20px;
	left: 680px;
	right: 300px;
	width: 120px;

}
.info{
	width:100px;
}
