#container{
	overflow: hidden;
    position: relative;
}
.cont_main {
    max-width: 1130px;
    margin: 0 auto;
}
.side_menu {
    width: 268px;
    float: left;
    position: relative;
    margin: 50 0;
    left: -113px;
    border-style: double;
}
.vt_info_menu_title {
    width: 246px;
    height: 100px;
    margin-left: 10px;
    text-align: center;
    border-bottom-style: outset;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.sub1_p1 {
	/*p태그 css*/
    font-size: 20px;
    color: cornflowerblue;
}
.sub1_p2 {
	/*p태그 css*/
    margin: 30px;
    font-size: 20px;
    color: darkcyan;
}
.main_wrap {
    position: relative;
    float: right;
    left: -165px;
    width: 700px;
    margin : 50 0;
}
.menu_top {
    position: relative;
    width: 1000px;
    height: 200px;
    background: red;
    left: 59px;
}

.top_word {
	/*1시방향 메뉴 바뀔때마다 나오는 글씨*/
    float: right;
    position: relative;
    left: -60px;
    top: 200px;
}
.menu_img{
	/*메뉴 밑 메뉴 바뀔때마다 나오는 사진*/
	opacity: 0.4;
    -webkit-filter: brightness(150%);
}
.content_wrap {
    width: 839px;
    margin:0 auto;
}
/*위에까지는 기본셋팅 건들지 말것*/
.menu p{
	cursor: pointer;
    text-shadow: 2px 2px 2px gold;
    margin: 20 0;
    color: red;
}
.menu .hide{
	display:none;
}

.menu_ul{
	left: 40px;
    position: relative;
    margin: 20px 0px;
    font-size: 20px;
    font-family: fantasy;
}
.hide li{
	cursor: pointer;
	margin: 10px 0px;
	width: 175px;
}
