#container{
	overflow: hidden;
    position: relative;
}
.cont_main {
    max-width: 1130px;
    margin: 0 auto;
}
.side_menu {
    width: 268px;
    min-height: 800px;

    float: left;
    position: relative;
    margin: 50 0;
    left:-100px;
}
.vt_info_menu_title {
    width: 246px;
    height: 100px;
    margin-left: 10px;
    text-align: center;
    border-bottom-style: outset;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
}
.sub1_p1 {
	/*p태그 css*/
    font-size: 20px;
    color: cornflowerblue;
}
.sub1_p2 {
	/*p태그 css*/
    margin: 30px;
    font-size: 20px;
    color: darkcyan;
}
.vt_info_menu_wrap_sub {
	/*각 메뉴별 영역 공통 적용*/
    height: 150px;
    text-align: center;
    margin:25px;
}
.vt_info_menu_wrap_sub_sub{
	/*각 메뉴별 영역 안 제목 영역 공통 적용*/
    font-size: 25px;
}
.sub{
	/*메뉴 영역 P태그 공통적용*/
	margin: 5px;
    cursor: pointer;
}
.main_wrap {
    position: relative;
    float: right;
    left: -165px;
    width: 700px;
    margin : 50 0;
}
.menu_top {
    position: relative;
    width: 1200px;
    height: 200px;
}

.top_word {
	/*1시방향 메뉴 바뀔때마다 나오는 글씨*/
    float: right;
    position: relative;
    left: -60px;
    top: 200px;
}
.menu_img{
	/*메뉴 밑 메뉴 바뀔때마다 나오는 사진*/
	opacity: 0.4;
    -webkit-filter: brightness(150%);
}
.content_wrap {
    width: 839px;
    margin:0 auto;
}
/*위에까지는 기본셋팅 건들지 말것*/

/*공지사항 게시판 시작*/
.bd_name {
    font-size: 40;
    position: absolute;
    width: 200px;
}
.bd_wrap {
    position: absolute;
    margin-top: 135px;
    width: 759px;
    margin-left: -70px;
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
}
.bd_btn{
	
}
.bd_top {
    width: 759px;
    border: solid black 0.1px;
    border-bottom: white;
    border-right: white;
    border-left: white;
    padding: 5 0;
}
.bd_sub{
	width:450px;
	text-align: center;	
}
.bd_wri{
	width:100px;
	text-align: center;	
}
.bd_day{
	width:100px;
	text-align: center;	
}
.bd_read{
	width:100px;
	text-align: center;	
}
.bd_content{
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	padding: 20 0;
	border: gray solid 0.1px;
	border-right: white;
    border-left: white;
}

