.login_p{
	    position: relative;
    float: right;
    color: black;
    right: 162px;	
}

* {
  margin: 0;
  padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
}

.open {
  position: relative;
  top: 40px;
  right: 40px;
  width: 94px;
  height: 50px;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
  float: left;
  margin: 0px 138px;
  font-size: 20;
}

.open:hover { opacity: 0.8; }




.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 18;
  overflow: hidden;
}


.sub-menu li a {
  color: #fff;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
  line-height: 40px;
}

.oppenned .sub-menu {
  	opacity: 1;
    height: 205px;
    width: 170px;
}


.top{
	width: 100%;
    height: 327px;
}
.top_2{
	margin: 0 auto;
	width: 1411px;
	color: white;
}
.login_p{
	position: relative;
	float: right;
	color: black;
}
.top_header_atag_font{
	color: black;
}
.topmenu{
	position: relative;
    float: right;
    margin: 0px 118px;
    cursor: pointer;
    right: 208px;
}
.site_name {
    position: relative;
    width: 300px;
    height: 67px;
    cursor: pointer;
    float: left;
    right: -229px;
    top: -56px;
}
.div_1 {
    position: relative;
    width: 210px;
    height: 70px;
    float: left;
    right: -50px;
    top: -42px;
}
.div_1menu{
	position: relative;
    top: 6px;
    left: 40px;
    font-size: 17px;
}
.div_1menu1{
	width: 55px;
    position: relative;
    left: 54px;
    top: 18px;
}
.div_1menu2{
	width: 83px;
    position: relative;
    left: 54px;
    top: 18px;
    margin: 7px 0px;
}
.div_1menu3{
	width: 78px;
    position: relative;
    left: 54px;
    top: 18px;
}
.div_1menu4{
	width: 76px;
    position: relative;
    left: 54px;
    top: 18px;
    margin: 7px 0px;
}
.div_2{
	position: relative;
    float: left;
    right: -11px;
    top: -43px;
}
.div_2menu{
	 position: relative;
    top: 7px;
    left: 72px;
    font-size: 17px;
}

.div_2menu1{
	width: 153px;
    position: relative;
    left: 17px;
    top: 18px;
}
.div_2menu2{
	width: 143px;
    position: relative;
    left: 26px;
    top: 18px;
    margin: 7px 0px;
}

.div_3 {
    position: relative;
    top: -40px;
    right: 111px;
}
.div_3menu{
	 position: relative;
    top: 6px;
    left: 35px;
    font-size: 17px;
}

.div_3menu1{
	width: 113px;
    position: relative;
    left: 54px;
    top: 18px;
    
}
.div_3menu2{
	width: 104px;
    position: relative;
    left: 61px;
    top: 18px;
    margin: 7px 0px;
}
.div_4{
	position: relative;
    top: -89px;
    left: 494px;
}
.div_4menu{
	position: relative;
    top: 3px;
    left: 28px;
    font-size: 17px;
}
.div_4menu1{
	width: 132px;
    position: relative;
    left: 31px;
    top: 18px;
}
.div_4menu2{
	width: 95px;
    position: relative;
    left: 47px;
    top: 18px;
    margin: 7px 0px;
}
.div_4menu3{
	width: 35px;
    position: relative;
    left: 78px;
    top: 18px;
}
.login_wrap{
	width: 100%;
    height: 50;
    black: white;
    background: white;
    opacity: 0.4;
}
.login_body{
	width: 1583px;
    margin: 0 auto;
}
.div_wrap{
	width: 100%;
    height: 78px;
    position: absolute;
}
.div_img_wrap{
    position: absolute;
}
.div_posi{
	width: 100%;
    height: 120px;
    background: black;
    position: absolute;
    opacity: 0.8;
    z-index: -998;
    left: -181px;
    top: -51px;
}
.menu1{
	width: 90px;
}
.menu2{
	width: 180px;
}
.menu3{
	width: 140px;
}
.menu4{
	width: 90px;
}

.menu1:hover{
	background:black; 
}
.menu2:hover{
	background:black; 
}
.menu3:hover{
	background:black; 
}
.menu4:hover{
	background:black; 
}
.div_1menu1:hover {
	background:black; 
}
.div_1menu2:hover {
	background:black; 
}
.div_1menu3:hover {
	background:black;
}
.div_1menu4:hover {
	background:black;
}
.div_2menu1:hover {
	background:black; 
}
.div_2menu2:hover {
	background:black; 
}
.div_3menu1:hover {
	background:black;
}
.div_3menu2:hover {
	background:black;
}
.div_4menu1:hover {
	background:black;
}
.div_4menu2:hover {
	background:black;
}
.div_4menu3:hover {
	background:black;
}