.body{
	background: lime;
}
.wrap{
    width: 566px;
    height: 100%;
    margin: 0 auto;
}
.zip_header{
	position: relative;
    left: 10px;
    width: 118px;
    margin: 0 auto;
    font-family: fantasy;
    color: cadetblue;
}
.search{
	width: inherit;
    height: 25%;
    position: relative;
    margin: 0 auto;
}
.search_1{
	width: 25%;
    height: 80px;
    background: lightgray;
    position: relative;
    float: left;
    margin: 20px 0px;
    border-top-style: groove;
    border-bottom-style: groove;
}
.search_word{
	margin: 28px;
    width: 89px;
}
.search_find{
	width: inherit;
    height: 50%;
    position: relative;
    background: red;
}
.search_info{
	width: inherit;
    height: 50%;
    position: relative;
    background: blue;
}
.search_2{
	width: 424px;
    height: 80px;
    position: relative;
    float: right;
    margin: 20px 0px;
    border-top-style: groove;
    border-bottom-style: groove;
}
.result{
	width: inherit;
    height: 75%;
    position: relative;
    background: blue;
}