.inputbutton{
	width: 80px;
}
.vt_zipCheckForm_Frame{
	margin: auto;
	position: relative;	
	z-index: 0;
}
.info{
	width:100px;
}
.vt_zipCheckForm_top {
    width: 640px;
    height: 200;
    font-weight: bolder;
}
.vt_zipCheckForm_info1 {
    width: 600;
    text-align: center;
}
.vt_zipCheckForm_info2 {
    text-align: center;
    width: 600;
}
.vt_zipCheckForm_ser {
    text-align: center;
}
.vt_zipCheckForm_header {
    text-align: center;
    font-size: 25;
    font-weight: bolder;    
    width: 595;
}
.vt_zipCheckForm_center {
    
    text-align: center;
}










