body{
	overflow: hidden;
}
.wrap{
	width: 100%;
	height: 200;
}
.zip_header{
	width: 567px;
    height: 50px;
    margin: 0 auto;
}
.header_img{
	width: 65px;
    height: 50px;
    position: relative;
    float: left;
    background: green;
    left: 163px;
}
.header_word{
	position: relative;
    float: left;
    left: 165px;
    font-size: 25px;
}
.content{
	width: 567px;
    margin: 0 auto;
}
.zip_top{
	width: 556px;
    height: 132px;
    margin: 0 auto;
    position: relative;
}
.search{
	position: relative;
    margin: 0 167px;
    width: 251px;
}
.input{
	border: red groove 3px;
}
.inputbutton{
    position: relative;
    top: 1px;
    background: #c65a5b;
    background-image: linear-gradient(#c65a5b,#a93b3e);
    color: #fcccc9;
    border: 1px solid #87302b;
}
.info{
	position: relative;
    width: 548px;
    height: 83px;
    margin: 17px 12px;
    text-align: center;
    font-size: 12px;
}
.zip_center{
	position: relative;
    width: 575px;
    border-top-style: groove;
    left: -3px;
    margin: 0 auto;
    overflow: auto;
    height: 220px;

}
.nosearch{
	text-align: center;
}
.zipnumadr{
	width: 100%;
    border-bottom-style: groove;
}
.zipnum{
	position: relative;
    float: left;
    margin: 0 31px;
    width: 300px;
}
.adr{
	position: relative;
    left: -48px;
}
.aaa12{
	margin: 20 0;
}
.aaa1{
	position: relative;
    float: left;
    width: 112px;
    margin: 0px 34px;
}
.aaa2{
	
}
.pointer{
	cursor: pointer;
}