.me{
	position: relative;
	
	margin: auto;
	float: left;	
}

#chatarea{
	
}

#chatarea b.me{
	
}

.chatDiv{
	/* background: #defffc;*/
	width: 100%;
    height: 100%;
}


.chatTop{
	background: #f5f7ff;
    border-width: 1px;
    border-color: #7481c1;
    border-bottom-style: inset;
    height: 380px;
    overflow-y: scroll;
}
.chatBottom{
	/* background: #ffc8c8; */
    height: 48px;
}

.chatBanner{
	background: #7481c1;
    height: 45px;
}
.chatBannertText{
	position: relative;
    left: 30px;
    top: 6px;
    font-size: 20px;
    color: white;
}
.chatContent{
	margin-top: 10px;
    margin-left: 10px;
    width: 480px;
    height: 30px;
}
.chatButton{
	background: #7481c1;
    position: relative;
    color: white;
    width: 76px;
    height: 31px;
    top: -30px;
    left: 500px;
    cursor: pointer;
}
.chatButtonText{
	position: relative;
    left: 21px;
    top: 2px;
    font-size: 17px;
}