.gx_infowarp {
    width: inherit;
	height: 4100px;
}


/*gx 정보 */
.gx_infotit {
  	 width: 230px;
    height: 49px;
    margin: 21px 0;
    text-align: center;
    border-bottom-style: groove;
    position: relative;
    left: 323px;
    top: 33px;
    
}



/* 스피닝 */
.program1 {
   width: 890px;
    height: 415px;
    position: relative;
   top: 41px;
}

/*이미지*/
.spinning1 {
    width: 480px;
    height:324px;
}
.spinning2 {
   width: 350px;
    height: 333px;
    margin: 5px;
    position: relative;
    top: 5px;
}
/*이미지 끝*/

.programss1 {
   
    width: 890px;
    height: 250px;
    position: relative;
}

/* 스피닝 끝 */


/* 필라테스 */
.program2 {
    width: 890px;
    height: 350px;
    margin-top: 50px;
}
.pilates1 {
    width: 532px;
    height: 320px;
}
.pilates2 {
	width: 350px;
    height: 320px;
}
.programss2 {
    margin-top: 0;
    width: 890px;
    height: 250px;
   
}
/* 필라테스 끝*/


/* 요가 */
.program3 {
	width: 890px;
    height: 350px;
    margin-top: 50px;
}

.programss3 {
	width: 890px;
    height: 250;
    position: relative;
   
}
.yoga1 {
    width: 650px;
    height: 320px;
}

/* 요가 끝*/


/*스트레칭*/
.program4 {
	width: 890px;
    height: 350px;
    margin-top: 13px;
}

.programss4 {
	width: 890px;
    height: 250px;
    position: relative;
   
}
.stretching1 {
	width: 532px;
    height: 320px;
}

.stretching2 {
	width: 350px;
    height: 320px;
}

/*스트레칭 끝*/


/*수영*/

.program5{
	width: 890px;
    height: 350px;
   margin-top: 6px;
}
.programss5{
	width: 890px;
    height: 250px;
    position: relative;
	
}
.swimming1{
	position: relative;
    width: 455px;
	
}
.swimming2{
	position: relative;
    width: 525px;
    bottom: 295px;
    left: 458px;
	
}
/*수영끝*/

/*태보*/

.program6{
	width: 890px;
    height: 350px;
   margin-top: 6px;
}
.programss6{
	width: 890px;
    height: 250px;
    position: relative;
    top: 29px;
	
}
.taebo1{
	position: relative;
    width: 455px;
    top: 25px;
}
.taebo2{
	position: relative;
    width: 525px;
    bottom: 295px;
    left: 458px;
	
}



/* 문자열 */
.num {
	font-size: 30px;
	font-weight: bold;
}
.tit {
	font-size: 30px;
	
}
.desc {
	font-size:25px;
	margin-bottom: 32px;
}
.context {
	font-size: 15px;
}

/* 문자열 끝 */
/* 
=======

.exer_wrap1 {
    width: 600px;
    height: 64px;
    position: relative;
    left: 139px;
    margin: 68px 0;
}
.wrap1_1 {
    width: inherit;
    height: 97%;
    text-align: center;
    font-size: 35px;
}
.wrap1_2{
	background: black;
	height: 3%;
}
.exer_wrap2{
	width: initial;
    height: 250px;
}
.wrap2_1{
	width: 250px;
    height: inherit;
    background: green;
    position: relative;
    float: right;
    margin: 0 5px;
}
.wrap2_2{
	width: 250px;
    height: inherit;
    background: cyan;
    position: relative;
    float: right;
    margin: 0 5px;
}
.wrap2_3{
	width: 250px;
    height: inherit;
    background: gold;
    position: relative;
    float: right;
    margin: 0 5px;
}
.exer_wrap3{
    margin: 20 0;
    width: inherit;
    height: 250px;
    position: relative;
}
.wrap3_1{
	width: inherit;
    height: 40%;
    text-align: center;
}
.wrap3_1_word1{
    width: 300px;
    height: 37px;
    position: relative;
    left: 276px;
    font-size: 25px;
}
.wrap3_1_word2{
    width: 300px;
    height: 37px;
    position: relative;
    left: 276px;
    font-size: 15px;
}
.wrap3_2 {
    width: inherit;
    height: 60%;
    font-size: 28px;
    text-align: center;
}

.exer_wrap4 {
    width: inherit;
    height: 500px;
	background: #eeeeee;
    border-radius: 4%;
    position: relative;
    margin: 100px 0;
}
.wrap4_1 {
    width: inherit;
    height: 189px;
    border-radius: 11%;
}
.wrap4_2{
	
}
.wrap4_1_1{
	margin: 0 37px;
}
.wrap4_cir1{
	width: 150px;
    height: 150px;
    background: white;
    position: relative;
    border-radius: 100%;
    float: right;
    top: 20;
    margin: 0 20;
}
.wrap4_cir2{
	width: 150px;
    height: 150px;
    background: white;
    position: relative;
    border-radius: 100%;
    float: right;
    top: 20;
    margin: 0 20;
}
.wrap4_cir3{
	width: 150px;
    height: 150px;
    background: white;
    position: relative;
    border-radius: 100%;
    float: right;
    top: 20;
    margin: 0 20;
}
.wrap4_cir4{
	width: 150px;
    height: 150px;
    background: white;
    position: relative;
    border-radius: 100%;
    float: right;
    top: 20;
    margin: 0 20;
}
.wrap4_1_2{
	
}
.wrap4_1_3{
	
}
.wrap4_1_4{
	
}
>>>>>>> branch '페이지작업' of https://github.com/showmedomany/TOP.git
 */