.content_wrap{
	width: 839px;
    margin: 0 auto;
 	height:3295px;
	
}
.exer_wrap1 {
    width: 600px;
    height: 64px;
    position: relative;
    left: 139px;
    margin: 68px 0;
}
.wrap1_1 {
  	 width: 364px;
    height: 97%;
    text-align: center;
    font-size: 35px;
    border-bottom-style: groove;
    position: relative;
    left: 131px;
    font-weight: bold;
}

.exer_wrap2{
	width: initial;
    height: 250px;
}
.wrap2_1{
	width: 250px;
    height: inherit;
    background: green;
    position: relative;
    float: right;
    margin: 0 5px;
}
.wrap2_2{
	width: 250px;
    height: inherit;
    background: cyan;
    position: relative;
    float: right;
    margin: 0 5px;
}
.wrap2_3{
	width: 250px;
    height: inherit;
    background: gold;
    position: relative;
    float: right;
    margin: 0 5px;
}
.exer_wrap3{
    margin: 20 0;
    width: inherit;
    height: 250px;
    position: relative;
}
.wrap3_1{
	width: inherit;
    height: 40%;
    text-align: center;
}
.wrap3_1_word1{
    width: 300px;
    height: 37px;
    position: relative;
    left: 276px;
    font-size: 25px;
}
.wrap3_1_word2{
    width: 300px;
    height: 37px;
    position: relative;
    left: 276px;
    font-size: 15px;
}
.wrap3_2 {
    width: inherit;
    height: 60%;
    font-size: 24px;
    text-align: center;
}
.wrap3_2_word2{

position: relative;
top: 20px;
}
.wrap3_2_word3{
	position: relative;
    top: 30px;
}
.wrap3_2_word4{
	position: relative;
    top: 30px;
}
.wrap3_2_word5{
	position: relative;
    top: 30px;
    left: 10px;
	
}
.wrap3_2_word6{
	position: relative;
    top: 30px;
	
}
.wrap3_2_word7{
	position: relative;
    top: 30px;
	
}

.exer_wrap4 {
  
}
