
.trinfo{
	text-align: center;
}
.trinfo_name{
	font-size: 30px;
	margin:0px 0px;
}
.say{
	width: inherit;
    height: 55px;
    position: absolute;
    top: 30px;
    left: 40px;
}
.say1{
	height: inherit;
	position: relative;
	float: left;
	font-size: 20px;
	color:pink;
}
.say2{
	height: inherit;
	position: relative;
	float: left;
	font-size: 18px;
	margin:0px 10px;
}
.img{
	width: 380px;
    height: inherit;
    position: relative;
    float: left;
}
.cur {
    position: relative;
    float: right;
    width: 452px;
    height: 600px;
    text-align: center;
    font-size: 20px;
    top: 100px;
}
.position{
	width: inherit;
    height: 700px;
    margin: 45px 0;
    position: relative;
    background: #f3f3f3;
}
.img_position{
	position: relative;
    top: 100px;
}
.name{
	width: 373px;
    height: 9%;
    float: left;
    position: relative;
    margin: 0 79px;
}
.cur_content{
	width: 373px;
    height: 89%;
    float: left;
    position: relative;
    margin: 11px 78px;
    border-style: double;
}
.name_div{
	float: left;
    width: 284px;
    height: 54px;
    border-bottom-style: groove;
    border-bottom-right-radius: 10%;
}
.p_name{
	position: relative;
    float: left;
    vertical-align: middle;
    width: 115px;
    margin: 8px 0px;
    font-size: 27px;
}
.p_job{
	position: relative;
    float: left;
    margin: 18px -12px;
    color: red;
}
.p_profile{
	position: relative;
    float: right;
    margin: 18px 0;
    color: lightpink;
}