
.trinfo{
	text-align: center;
}
.trinfo_name{
	font-size: 30px;
	margin:50px 0;
}
.img{
	width: 380px;
    height: inherit;
    position: relative;
    float: left;
}
.name{
	position: relative;
    width: 459px;
    float: right;
    height: 100px;
}
.name1{
	position: relative;
    float: left;
    width: 200px;
    height: inherit;
    text-align: center;
    font-size: 42px;
}
.name2{
	position: relative;
    float: left;
    width: 165px;
    height: inherit;
    text-align: center;
    font-size: 43px;
}
.name3{
	    position: relative;
    float: left;
    width: 86px;
    height: inherit;
    text-align: center;
    font-size: 31px;
    top: 20;
    color: blue;
}
.cur {
    position: relative;
    float: right;
    width: 452px;
    height: 491px;
    text-align: center;
    font-size: 20px;
    border: blue groove 4px;
    border-right: black groove 2px;
    border-left: black groove 2px;
}
.position1{
	width: inherit;
    height: 600px;
    margin: 90px 0;
    position: relative;
}
.position2{
	width: inherit;
    height: 600px;
    margin: 90px 0;
    position: relative;
}
.position3{
	width: inherit;
    height: 600px;
    margin: 90px 0;
    position: relative;
}
.position4{
	width: inherit;
    height: 600px;
    margin: 90px 0;
    position: relative;
}

