/* myPageView */
body{
	overflow-x:hidden; 
}
.myPage{
 /*	background-color: bisque;*/
    float: left;
    width: 1350px;
    height: 1200px;
}
.sideMenu{
   /* background: #c4c5f1;*/
    width: 200px;
    height: 100%;
    float: left;

}


.myPageCenter{
   /* background-color: #7ef5a2;*/
    float: left;
    margin-left: 5px;
    width: 1000px;
    height: 100%;
}


.tableInfo{
	margin-top: 50px;
    margin-left: 50px;	
    z-index: 999;
}




.tableTr{
	background: #F6F6F6;
    height: 50px;
}

.partName{
	
	margin-top: 20px;
    margin-left: 75px;
    margin-bottom: 20px;
    cursor: pointer;
	
}

.weekScheduleResult{
	
    margin-left: 50px;
    margin-top: 50px;	
}
.partExeriseResult{
	margin-top: -30px;
}
.exeriseInfo{
	margin-left: 50px;
}

.routine{
	margin-left: 50px;

}

.tableClass{
	position: relative;
    width: 950px;
    margin-left: 0px;
	
}

.tableNotInfo{
	background: #f9f9f9;
    width: 300px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
	
}
.routineTabel{
	
}
.routineDiv{
    width: 950px;
    height: 205px;
}

.spanText{
	
}

.exeriseNameDiv{
	background: #e3e5e6;
    width: 100%;
    height: 50px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 30px;
}
.exeriseText{
	position: relative;
    margin-left: 5px;
    top: 15px;
}


.memberPro{
	height: 200px;
    width: 500px;
    margin: 0 auto;	
}

.memberText{
	margin-top: 100px;
}

/*Banner*/
.banner{
	margin-top: 50px;
    margin-left: 50px;
    height: 135px;
    
}
.bannerText{
	position: relative;
    margin-top: -150px;
    margin-left: 250px;
    font-size: 80px;
}
.center{
	width: 1560px;
    position: relative;
    margin: 0 auto;
    left: -64px;
}
.side{
	position: relative;
    width: 200px;
    margin: 20 0;
    top: 132px;
    height: 420px;
    left: 33px;
}
.content{
	width: 1000px;
    position: relative;
    left: 386px;
    top: -207px;
    margin: -131px 0;
}

