.vt_ex_routine_body{
	background-color: #EAEAEA;

}
.vt_ex_routine_body_id{
	background-color: #C6FFFF;
}

.vt_ex_routine_body_startEnd_date{
	background-color: #E3FFDC;
	
}
.vt_ex_routine_body_exerciseSchedule{
	background-color: #FFA2FF;
}

.weekScheduleResult{
	background-color: #FFFFA2;
	
}